
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>byeduc</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    <tbody>
    <% if @treatmentby_regions.any? %>
    <% @treatmentby_regions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.byeduc%></td>
      </tr>
    <% end %>
    <% end %>
    
  </tbody>
</table>

<br>


</div>
