


<div class="panel panel-default">
  <div class="panel-body">
    <h2>Import Budgets</h2>  

   <%= form_tag import_budgets_path, multipart: true do %>  
   <%= file_field_tag :file %>  
   <%= submit_tag "Import" %>  
<% end %> 
</div>


<div class="panel panel-default">
  <div class="panel-heading">Budgets</div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>code</th>	
      <th>name </th>
      <th>total</th>	
      <th>percap</th>	
      <th>s_soc</th>
      <th>s_educ</th>	
      <th>s_health</th>	
      <th>s_econ	</th>
      <th>s_util	</th>
      <th>s_state	</th>
      <th>s_secur	</th>
      <th>s_culture	</th>
      <th>s_defence	</th>
      <th>s_debt </th>
      <th>s_sport	</th>
      <th>s_media	</th>
      <th>s_eco	</th>
      <th>s_transfers	</th>
      <th>i_subs</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |b| %>
      <tr>
        
        <td><%= b.code %></td>	
        <td><%= b.name %></td>
        <td><%= b.total%></td>	
        <td><%= b.percap%></td>	
        <td><%= b.s_soc%></td>
        <td><%= b.s_educ%></td>	
        <td><%= b.s_health %></td>	
        <td><%= b.s_econ	%></td>
        <td><%= b.s_util	%></td>
        <td><%= b.s_state	%></td>
        <td><%= b.s_secur	%></td>
        <td><%= b.s_culture	%></td>
        <td><%= b.s_defence	%></td>
        <td><%= b.s_debt %></td>
        <td><%= b.s_sport	%></td>
        <td><%= b.s_media	%></td>
        <td><%= b.s_eco	%></td>
        <td><%= b.s_transfers	%></td>
        <td><%= b.i_subs%></td>
        <td><%= b.created_at.to_formatted_s(:db) %></td>
        <td><%= link_to 'Destroy', b, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>