<%= form_for(@user) do |f| %>

<ol>
  <!-- "Важные вопросы" -->
  <li>
    <div class="form-group">
      <label>Средняя зарплата в месяц после налогов в 2014 году</label>
      <%= f.number_field :aftertaxwage, {class: "form-control", placeholder: "Сумма в рублях"} %>
    </div>
    <% if @user.errors[:aftertaxwage].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:aftertaxwage].first %></div>
    <% end %>
  </li>
  <li>
    <div class="form-group">
      <label>Работаю в регионе</label>
      <select name="user[residence]" id="user_residence" class="form-control">
        <option value="">Выбрать из списка</option>
          <option value='77'>Москва</option>
          <option value='78'>Санкт-Петербург</option>
          <option value='1'>Республика Адыгея</option>
          <option value='4'>Республика Алтай</option>
          <option value='2'>Республика Башкортостан</option>
          <option value='3'>Республика Бурятия</option>
          <option value='5'>Республика Дагестан</option>
          <option value='6'>Республика Ингушетия</option>
          <option value='7'>Кабардино-Балкарская республика</option>
          <option value='8'>Республика Калмыкия</option>
          <option value='9'>Карачаево-Черкесская республика</option>
          <option value='10'>Республика Карелия</option>
          <option value='11'>Республика Коми</option>
          <option value='91'>Республика Крым</option>
          <option value='12'>Республика Марий Эл</option>
          <option value='13'>Республика Мордовия</option>
          <option value='14'>Республика Саха (Якутия)</option>
          <option value='15'>Республика Северная Осетия — Алания</option>
          <option value='16'>Республика Татарстан</option>
          <option value='17'>Республика Тыва</option>
          <option value='18'>Удмуртская республика</option>
          <option value='19'>Республика Хакасия</option>
          <option value='20'>Чеченская республика</option>
          <option value='21'>Чувашская республика</option>
          <option value='22'>Алтайский край</option>
          <option value='75'>Забайкальский край</option>
          <option value='41'>Камчатский край</option>
          <option value='23'>Краснодарский край</option>
          <option value='24'>Красноярский край</option>
          <option value='59'>Пермский край</option>
          <option value='25'>Приморский край</option>
          <option value='26'>Ставропольский край</option>
          <option value='27'>Хабаровский край</option>
          <option value='28'>Амурская область</option>
          <option value='29'>Архангельская область</option>
          <option value='30'>Астраханская область</option>
          <option value='31'>Белгородская область</option>
          <option value='32'>Брянская область</option>
          <option value='33'>Владимирская область</option>
          <option value='34'>Волгоградская область</option>
          <option value='35'>Вологодская область</option>
          <option value='36'>Воронежская область</option>
          <option value='37'>Ивановская область</option>
          <option value='38'>Иркутская область</option>
          <option value='39'>Калининградская область</option>
          <option value='40'>Калужская область</option>
          <option value='42'>Кемеровская область</option>
          <option value='43'>Кировская область</option>
          <option value='44'>Костромская область</option>
          <option value='45'>Курганская область</option>
          <option value='46'>Курская область</option>
          <option value='47'>Ленинградская область</option>
          <option value='48'>Липецкая область</option>
          <option value='49'>Магаданская область</option>
          <option value='50'>Московская область</option>
          <option value='51'>Мурманская область</option>
          <option value='52'>Нижегородская область</option>
          <option value='53'>Новгородская область</option>
          <option value='54'>Новосибирская область</option>
          <option value='55'>Омская область</option>
          <option value='56'>Оренбургская область</option>
          <option value='57'>Орловская область</option>
          <option value='58'>Пензенская область</option>
          <option value='60'>Псковская область</option>
          <option value='61'>Ростовская область</option>
          <option value='62'>Рязанская область</option>
          <option value='63'>Самарская область</option>
          <option value='64'>Саратовская область</option>
          <option value='65'>Сахалинская область</option>
          <option value='66'>Свердловская область</option>
          <option value='67'>Смоленская область</option>
          <option value='68'>Тамбовская область</option>
          <option value='69'>Тверская область</option>
          <option value='70'>Томская область</option>
          <option value='71'>Тульская область</option>
          <option value='72'>Тюменская область</option>
          <option value='73'>Ульяновская область</option>
          <option value='74'>Челябинская область</option>
          <option value='76'>Ярославская область</option>
          <option value='92'>Севастополь</option>
          <option value='79'>Еврейская автономная область</option>
          <option value='83'>Ненецкий автономный округ</option>
          <option value='86'>Ханты-Мансийский автономный округ - Югра</option>
          <option value='87'>Чукотский автономный округ</option>
          <option value='89'>Ямало-Ненецкий автономный округ</option>
  
      </select>
    </div>
    <% if @user.errors[:residence].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:residence].first %></div>
    <% end %>
    </li>
    
 <li>
    <div class="form-group">
      <label>Возраст</label>
      <%= f.number_field :age, {class: "form-control", placeholder: "Полных лет"} %>
    </div>
      <% if @user.errors[:age].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:age].first %></div>
      <% end %>
  </li>
  <li>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="user[sex]" id="user_sex_1" value="1">
          Женщина
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" value="0" name="user[sex]" id="user_sex_0">
          Мужчина
        </label>
      </div>
    </div>
      <% if @user.errors[:sex].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:sex].first %></div>
      <% end %>
  </li>
  <li>
    <div class="form-group">
      <label>Образование</label>
      <select name="user[educ]" id="user_educ" class="form-control">
        <option value="">Выбрать из списка</option>
        <option value="1">Неполное среднее</option>
        <option value="2">Среднее</option>
        <option value="3">Среднее специальное</option>
        <option value="4">Незаконченное высшее</option>
        <option value="5">Высшее</option>
        <option value="6">Ученая степень</option>
        <option value="-1">Затрудняюсь ответить</option>
      </select>
    </div>
      <% if @user.errors[:educ].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:educ].first %></div>
      <% end %>
    <div class="form-group" id="uni_field">
      <label>ВУЗ</label>
      <select name="user[uni]" id="user_uni" class="form-control">
        <option value="">Выбрать из списка</option>
        <option value="1">МГУ</option>
        <option value="2">ВШЭ</option>
        <option value="3">МФТИ</option>
        <option value="4">МГИМО</option>
        <option value="5">РУДН</option>
        <option value="6">АНХ</option>
        <option value="7">другой</option>
        </select> 
      </div>
        <% if @user.errors[:uni].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:uni].first %></div>
        <% end %>
   
  </li>
  
  <li>
    <div class="form-group">
      <label>Мой род деятельности</label>
      <select name="user[occup]" id="user_occup" class="form-control">
        <option value="">Выбрать из списка</option>
        <option value="1">Руководитель, директор, зам. руководителя</option>
        <option value="2">Руководитель подразделения (отдела, смены, департамента и т.д.)</option>
        <option value="3">Специалист с высшим образованием (врач, учитель, менеджер по продажам, инженер и т.д.)</option>
        <option value="4">Служащий(ая) (секретарь, продавец, охранник, водитель и т.д.)</option>
        <option value="5">Творческая профессия (фотограф, художник, артист и т.д.)</option>
        <option value="6">Малый бизнес (свой бизнес, предпринимательская деятельность)</option>
        <option value="7">Технический или обслуживающий персонал</option>
        <option value="8">Рабочий(ая)</option>
        <option value="9">Военнослужащий(ая)</option>
        <option value="10">Студент(ка)</option>
      </select>
    </div>
      <% if @user.errors[:occup].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:occup].first %></div>
      <% end %>
  </li>
  
  <li>
    <div class="form-group">
      <label>На выборах Президента РФ 4 марта 2012 г. голосовал(а) за:</label>
      <select name="user[elec_presid]" id="user_elec_presid" class="form-control">
        <option value="">Выбрать из списка</option>
        <option value="1">Путин</option>
        <option value="2">Жириновский</option>
        <option value="3">Зюганов</option>
        <option value="4">Миронов</option>
        <option value="5">Прохоров</option>
        <option value="6">Испортил/унес бюллетень</option>
        <option value="7">Не ходил на выборы</option>
        <option value="-1">Затрудняюсь ответить</option>
      </select>
    
    </div>  
      <% if @user.errors[:elec_presid].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:elec_presid].first %></div>
      <% end %>
  </li>
  
 <li>
   <div class="form-group">
    <label>Пользуюсь следующими средствами массовой информации (телеканалы, газеты, сайты):</label>
    
      <select name="user[media]" id="user_media" class="form-control">
        <option value="">Выбрать из списка</option>
        <option value="1">РБК</option>
        <option value="2">...</option>
        <option value="3">...</option>
        <option value="-1">Другое</option>
      </select>
    </div>
    <% if @user.errors[:media].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:media].first %></div>
    <% end %>
    
    <div id="media_other_field">
      <%= f.text_area :media_other, class: "form-control", placeholder: "Укажите названия СМИ" %>
    </div>
  </li>
  
  <li>
    <div class="checkbox">
    <label>
      <%= f.check_box :statefin%> Работаю в бюджетной организации
    </label>
  </div>
  </li>
  
  
  <li>
    <div class="form-group">
      <label>По моему мнению, плачу примерно следующий процент дохода в виде налогов и взносов:</label>
      <%= f.number_field :taxest, placeholder: "Значение в %", class: "form-control" %>
    </div>
      <% if @user.errors[:taxest].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:taxest].first %></div>
      <% end %>
  </li>
  
  
  

    </ol> 

  <div class="form-group">
    Treatment <input type="number" name="user[treatment]" id="user_treatment">
  </div>
  <div class="actions">
    <%= f.submit "Сохранить", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
    </div>
  </div>
</div>
