
<div class="container"> 

  <div class="jumbotron">
    <h1>Вопросы</h1>
    <p>Пожалуйста, ответьте на несколько коротких вопросов.
    </p>
  </div>
<%= form_for @user, html: { method: :post } do |f| %>
  <ol><!--Начало нумерованного списка -->
    <li>
      <div class="form-group">
        <label>Считаете ли вы, что в России нужно увеличить налоги?</label>
        <div>      
          
          <%= f.radio_button :treattax, 1, checked: (@user.treattax==1) %> &nbsp;<%= f.label :treattax_1, "Да, нужно увеличить" %> &nbsp;
          <%= f.radio_button :treattax, 2, checked: (@user.treattax==2) %> &nbsp;<%= f.label :treattax_2, "Нет, нужно уменьшить" %> &nbsp;
          <%= f.radio_button :treattax, 3, checked: (@user.treattax==3) %> &nbsp;<%= f.label :treattax_3, "Нужно оставить как есть" %> &nbsp;
          <%= f.radio_button :treattax, 4, checked: (@user.treattax==4) %> &nbsp;<%= f.label :treattax_1, "Затрудняюсь ответить" %> &nbsp;
        
        </div>
        <% if @user.errors[:treattax].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:treattax].first %></div>
        <% end %>
      </div>
    </li>
    <li>
      <div class="form-group">
        <label>Удовлетворены ли вы работой правительства? (1 - совсем не доволен, 7 - очень доволен)</label>
        <div>   
          <%= f.radio_button :treatapprove, 1, checked: (@user.treatapprove==1) %> &nbsp;<%= f.label :treatapprove_1, "1" %> &nbsp;
          <%= f.radio_button :treatapprove, 2, checked: (@user.treatapprove==2) %> &nbsp;<%= f.label :treatapprove_2, "2" %> &nbsp;
          <%= f.radio_button :treatapprove, 3, checked: (@user.treatapprove==3) %> &nbsp;<%= f.label :treatapprove_3, "3" %> &nbsp;
          <%= f.radio_button :treatapprove, 4, checked: (@user.treatapprove==4) %> &nbsp;<%= f.label :treatapprove_4, "4" %> &nbsp;
          <%= f.radio_button :treatapprove, 5, checked: (@user.treatapprove==5) %> &nbsp;<%= f.label :treatapprove_5, "5" %> &nbsp;
          <%= f.radio_button :treatapprove, 6, checked: (@user.treatapprove==6) %> &nbsp;<%= f.label :treatapprove_6, "6" %> &nbsp;
          <%= f.radio_button :treatapprove, 7, checked: (@user.treatapprove==7) %> &nbsp;<%= f.label :treatapprove_7, "7" %> &nbsp;
        </div>
       
        <% if @user.errors[:treatapprove].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:treatapprove].first %></div>
        <% end %>
      </div>
    </li>
    <li>
      <div class="form-group">
        <label> Хотели бы вы подписать петицию, обязывающую Казначейство высылать каждому налогоплательщику отчет о потраченых налогах?</label>
        <div>      
          <%= f.radio_button :petit_spending, 1, checked: (@user.petit_spending==1) %> &nbsp;<%= f.label :petit_spending_1, "Да" %> &nbsp;
          <%= f.radio_button :petit_spending, 2, checked: (@user.petit_spending==2) %> &nbsp;<%= f.label :petit_spending_2, "Нет" %> &nbsp;
       
        </div>
        <% if @user.errors[:petit_spending].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:petit_spending].first %></div>
        <% end %>
      </div>
    </li>
    <p>
     Во многих странах, для борьбы с коррупцией используются декларации доходов и имущества чиновников. В России борьба с коррупцией сейчас осложнена тем, что единой базы деклараций не существует. 
    </p>
    <li>
      <div class="form-group">
        <label> Хотели бы вы подписать петицию о создании единой базы деклараций российских чиновников? </label>
        <div>      
          <%= f.radio_button :petit_account, 1, checked: (@user.petit_account==1) %> &nbsp;<%= f.label :petit_account_1, "Да" %> &nbsp;
          <%= f.radio_button :petit_account, 2, checked: (@user.petit_account==2) %> &nbsp;<%= f.label :petit_account_2, "Нет" %> &nbsp;
        </div>
        <% if @user.errors[:petit_account].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:petit_account].first %></div>
        <% end %>
        </div>
      </li>
    <div class="actions">
      <%= f.submit "Дальше", class: "btn btn-lg btn-success" %>
    </div>
  </ol>
  
  
<% end %>


</div>



