

<div class="panel panel-default">
  <div class="panel-heading">Анкеты</div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>created</th>
      <th>campaign utm</th>
      <th>source utm</th>
      <th>first user</th>
      <th>treatment</th>
      <th>wage</th>
      <th>range</th>
      <th>taxest</th>
      <th>certainty</th>
      <th>statefin</th>
      <th>m1</th>
      <th>m2</th>
      <th>m3</th>
      <th>m4</th>
      <th>m5</th>
      <th>m6</th>
      <th>m7</th>
      <th>m8</th>
      <th>m9</th>
      <th>educ</th>
      <th>uni</th>
      <th>uniother</th>
      <th>resid</th>
      <th>occup</th>
      <th>elec</th>
      <th>age</th>
      <th>sex</th>
      <th>UserAgent</th>
      <th>treattax</th>
      <th>treatapprove</th>
      <th>petit_account</th>
      <th>petit_spending</th>
      <th>updated</th>
      <th></th>
      <th>HTTPref</th>
      <th>IP</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.created_at %></td>
        <td><%= user.campaign %></td>
        <td><%= user.source %></td>
        <td><%= user.ref %></td>
        <td><%= user.treatment %></td>
        <td><%= number_with_precision( user.aftertaxwage, precision: 0, delimiter: ',') %></td>
        <td><%= number_with_precision( user.wagerange, precision: 0, delimiter: ',') %></td>
        <td><%= user.taxest %></td>
        <td><%= user.taxcertainty %></td>
        <td><%= user.statefin %></td>
        <td><%= user.media1 %></td>
        <td><%= user.media2 %></td>
        <td><%= user.media3 %></td>
        <td><%= user.media4 %></td>
        <td><%= user.media5 %></td>
        <td><%= user.media6 %></td>
        <td><%= user.media7 %></td>
        <td><%= user.media8 %></td>
        <td><%= user.media9 %></td>
        <td><%= user.educ %></td>
        <td><%= user.uni %></td>
        <td><%= user.uniother %></td>
        <td><%= user.residence %></td>
        <td><%= user.occup %></td>
        <td><%= user.elec_presid %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.useragent %></td>
        <td><%= number_with_precision(user.treattax, precision: 0, delimiter: ',') %></td>
        <td><%= number_with_precision(user.treatapprove, precision: 0, delimiter: ',') %></td>
        <td><%= user.petit_account %></td>
        <td><%= user.petit_spending %></td>
        <td><%= user.updated_at %></td>
        <td><%= link_to 'Destroy', user, method: :delete %></td>
        <td><%= user.httpref %></td>
        <td><%= user.ipaddress %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

</div>
