


<div class="container"> 

  <div class="jumbotron">
    <h1>Налог на доходы за 2014 год</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Уплаченный вами за год налог на доходы физических лиц</h3></div>
    <div class="panel-body">
      Вы зарабатывали <%= 
      if @user.wagerange > 0
      then number_with_precision(@user.aftertaxwage - @user.wagerange, precision: 0, delimiter: ',') + " - " +  number_with_precision(@user.aftertaxwage + @user.wagerange, precision: 0, delimiter: ',')
      else number_with_precision(@user.aftertaxwage, precision: 0, delimiter: ',')
      end
      %> рублей ежемесячно. <br>
      Вы также ежемесячно выплачивали <b>
      <%= 
      if @user.wagerange > 0
      then number_with_precision((@user.aftertaxwage - @user.wagerange)/0.87*0.13, precision: 0, delimiter: ',') + " - " + number_with_precision((@user.aftertaxwage + @user.wagerange)/0.87*0.13, precision: 0, delimiter: ',')
      else number_with_precision(@user.aftertaxwage/0.87*0.13, precision: 0, delimiter: ',')
      end
      %> рублей</b> налога на доходы (13%). 
      <br><br>
       <%= 
      if @user.wagerange > 0
      then
        'График для средних значений дохода и налога.'
      end
        %>
      <%  library_options = {
        tooltip: {
          isHtml: 'false',
          showColorCode: 'true'
        },
        legend: {
          position: 'bottom'
        },
        chartArea: {
          top: '0'
        }
      }
      data = [
      {
        name: "Зарплата после уплаты налогов", 
        data: [["Учет НДФЛ", @user.aftertaxwage]]
      },
      {
        name: "Налог на доходы физ. лиц", 
        data: [["Учет НДФЛ", number_with_precision(@user.aftertaxwage/0.87*0.13, precision: 0, delimiter: '')]]
      }
    ]
      %>
      
      <%= bar_chart data, {stacked: true, library: library_options, colors: ["00cc8d","d61294"]} %> 
      <br><br>
      <% if @user.treatment == 1 %>
        <%= link_to "Сколько всего вы заплатили налогов", askquestions_user_path(@user), class: "btn btn-lg btn-success" %>
      <% else %>
        <%= link_to "Сколько всего вы заплатили налогов", showtaxes_user_path(@user), class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </div>
</div>