<%

puts "consent = " + @user.consent.to_s
puts "wage = " + @user.aftertaxwage.to_s
puts "range = " + @user.wagerange.to_s
puts "taxest = " + @user.taxest.to_s
puts "taxcertainty = " + @user.taxcertainty.to_s
puts "statefin = " + @user.statefin.to_s
puts "media = " + @user.media.to_s
puts "media1 = " + @user.media1.to_s
puts "media2 = " + @user.media2.to_s
puts "educ = " + @user.educ.to_s
puts "uni = " + @user.uni.to_s
puts "uniother = " + @user.uniother.to_s
puts "residence = " + @user.residence.to_s
puts "occup = " + @user.occup.to_s
puts "elec_presid = " + @user.elec_presid.to_s
puts "age = " + @user.age.to_s
puts "sex = " + @user.sex.to_s
puts "source = " + @user.source.to_s
puts "ref = " + @user.ref.to_s
puts "campaign = " + @user.campaign.to_s

%>



<script>

  function  mediaclick() {
    vm =  $('#user_media').val()
    vm =  document.getElementById("user_media").value
    if(this.checked) {
        vm =  vm + 1
    }else{
        vm =  vm - 1
    }
    document.getElementById("user_media").value = vm;
    $("#user_media").val(vm);
  }

  $(document).ready(function(){
    
    
    document.getElementById("user_educ").className = "form-control";
    document.getElementById("user_uni").className = "form-control";
    document.getElementById("user_residence").className = "form-control";
    document.getElementById("user_occup").className = "form-control";
    document.getElementById("user_elec_presid").className = "form-control";
    
    if ( $("#user_educ").val() != 4 &&  $("#user_educ").val() != 5 &&  $("#user_educ").val() != 6  ){
      $("#uni_field").css('display','none');
    }
    
    $('#user_educ').change(function(){
      
      if ($(this).val() == 4 || $(this).val() == 5 || $(this).val() == 6 ){
        $("#uni_field").removeAttr('display');
        $("#uni_field").css('display','block');
        $("#user_uni").val();
      }
      else {
        $("#uni_field").css('display','none');
        $("#user_uni").val(-1);
      }
    });

    
    $('#user_uni').change(function(){
      
      if ($(this).val() == -1 ){
        $("#uniother_field").removeAttr('display');
        $("#uniother_field").css('display','block');
      }
      else {
        $("#uniother_field").css('display','none');
      }
    });
    
    <% nilorzerorange = 0
    if !@user.wagerange.nil? 
      if @user.wagerange > 0
        nilorzerorange = 1
      end
    end %>
    <% range_init = [40000, 80000] %>
    <% if !nilorzerorange  %>
      <% range_init = "[#{number_with_precision(@user.aftertaxwage - @user.wagerange, precision: 0, delimiter: '')}, #{number_with_precision(@user.aftertaxwage + @user.wagerange, precision: 0, delimiter: '')}]" %>
    <% end %>
    
    <% wage_init = 60000 %>
    <% if !@user.aftertaxwage.nil?  %>
      <% if @user.aftertaxwage > 0  %>
        <% wage_init = number_with_precision(@user.aftertaxwage, precision: 0, delimiter: '')%>
      <% end %>
    <% end %>
    $('#checkbox_range').on("click", function( event ){
      if($('#checkbox_range').is(':checked')){
        $("#wagesliderrange").removeAttr('display');
        $("#wagesliderrange").css('display','block');
        $("#wageslider").css('display','none');
        sliderrange = new Slider("#wagerangeinput", {
          tooltip: 'always',
        	min: 1000,
        	max: 1000000,
        	value: <%= range_init %> ,
        	scale: 'logarithmic',
        	step: 1000
        });
        $("#user_wagerange").val(20000);
        sliderrange.on("slideStop", function(slideEvt) {
          var rv = slideEvt.toString();
          var arr = rv.split(",")
          console.log(arr);
          var mean = (parseInt(arr[0])+parseInt(arr[1]))/2;
          var dev = (parseInt(arr[1])-parseInt(arr[0]))/2;
          console.log(mean);
          console.log(dev);
          $("#user_aftertaxwage").val(mean);
          $("#user_wagerange").val(dev);
        });
        slider.destroy();
      }else {
        sliderrange.destroy();
        $("#wageslider").removeAttr('display');
        $("#wageslider").css('display','block');
        $("#wagesliderrange").css('display','none');
        slider = new Slider("#wageinput", {
          tooltip: 'always',
        	min: 1000,
        	max: 1000000,
        	value: <%= wage_init %>,
        	scale: 'logarithmic',
        	step: 1000
        });
        slider.on("slideStop", function(slideEvt) {
          $("#user_aftertaxwage").val(slideEvt);
          $("#user_wagerange").val("0");
          console.log(slideEvt);
        });
      }
    });
    <% if !nilorzerorange  %>
      $("#wagesliderrange").removeAttr('display');
      $("#wagesliderrange").css('display','block');
      $("#wageslider").css('display','none');
      document.getElementById("checkbox_range").checked = true;
      sliderrange = new Slider("#wagerangeinput", {
        tooltip: 'always',
      	min: 1000,
      	max: 1000000,
      	value: <%= range_init %> ,
      	scale: 'logarithmic',
      	step: 1000
      });
    <% else%>
      var slider = new Slider("#wageinput", {
        tooltip: 'always',
      	min: 1000,
      	max: 1000000,
      	value: <%= wage_init %>,
      	scale: 'logarithmic',
      	step: 1000
      });
      slider.on("slide", function(slideEvt) {
        $("#user_aftertaxwage").val(slideEvt);
        $("#user_wagerange").val(0);
  	    console.log(slideEvt);
      });
    <% end %>
    
    $("#user_media1").click(mediaclick);
    $("#user_media2").click(mediaclick);
    $("#user_media3").click(mediaclick);
    $("#user_media4").click(mediaclick);
    $("#user_media5").click(mediaclick);
    $("#user_media6").click(mediaclick);
    $("#user_media7").click(mediaclick);
    $("#user_media8").click(mediaclick);
    $("#user_media9").click(mediaclick);
    
  });
 
   
  
</script>
<%
 if !nilorzerorange
   range_init = 0
 end
%>

<div class="container"> 

  <div class="jumbotron">
    <h1>Получить чек за госуслуги</h1>
    <p>Здесь вы сможете узнать, сумму уплаченных вами за год налогов и на что эти средства были потрачены. 
    Например, мы расскажем, сколько пенсий, зарплат врачам и полицейским удалось заплатить на ваши налоги. 
    <% agent = request.env['HTTP_USER_AGENT'].split(" ") %>
    <%     if agent.include?("iPhone")  %>
          <br><br>
          <b>Если вы пользуетесь телефоном, приведите его в горизонтальное положение </b>
    <%     end    %>
    </p>
  </div>
  
<%= form_for(@user) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Согласие на участие в исследовании</h3>
    </div>
    <div class="panel-body">
      <div class="checkbox">
        <label>
        Ответы на вопросы будут использованы не только для подсчета вашего "Чека за госуслуги", но и для проведения научного исследования. Цель исследования — получить представление, о том как граждане воспринимают структуру бюджета.
        Aнонимность участия гарантируется. Участие полностью добровольно.  Опрос займет примерно 10 минут Вашего времени. Вы можете прекратить отвечать на вопросы в любой момент.
        <br>
        <%= f.check_box :consent, checked_value: 'yes'%>  Поставив отметку в графе слева, вы подтверждаете, что готовы принять участие в исследовании.
        <br><br>
        Если у вас есть вопросы по поводу данного опроса, вы может обратиться к Михаилу Галашину (state.report.team@gmail.com).
        
        </label>
      </div>
      
      <% if @user.errors[:consent].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:consent].first %></div>
      <% end %>

    </div>
  </div>
  
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Анкета</h3>
    </div>
    <div class="panel-body">
      <p>Пожалуйста, заполните все поля.</p>


<ol>
  <!-- "Важные вопросы" -->
  <li>
    <div class="form-group">
      <label>Ваша средняя зарплата в месяц после вычета налогов в 2014 году</label>
      <br><br>
      <b style="float:left;">1 000 р.</b> <div id="wageslider" style="float:left; width:auto;padding-left:10px;padding-right:10px;"><input id="wageinput" type="text" ></div><div id="wagesliderrange" style="float:left; width:auto;padding-left:10px;padding-right:10px;"><input id="wagerangeinput" type="text" style="display:none;"/></div> <b>1 млн. р. </b> &nbsp;
      <input type="hidden" value="0"><input type="checkbox" value="1" id="checkbox_range"> Указать диапазон (если не хотите указывать точную цифру)
      <div class="form-group" style="display:none; visibility:hidden;">
        
        <%= f.number_field :aftertaxwage, value: wage_init %>
        <%= f.number_field :wagerange, value: range_init %>
      </div>
      
    </div>
      
    <% if @user.errors[:aftertaxwage].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:aftertaxwage].first %></div>
    <% end %>
  </li>
  <li>
    <div class="form-group">
      <label>По моему мнению, плачу примерно следующий процент дохода в виде налогов и взносов:</label>
      <%= f.number_field :taxest, placeholder: "Значение в %", class: "form-control" %>
    </div>
      <% if @user.errors[:taxest].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:taxest].first %></div>
      <% end %>
  </li>
  
   <li>
      <div class="form-group">
        <label>Насколько вы уверены в своей оценке размера налогов? (1 - совсем не уверен, 7 - полностью уверен)</label>
        <div>   
          <%= f.radio_button :taxcertainty, 1, checked: (@user.taxcertainty==1) %> &nbsp;<%= f.label :taxcertainty_1, "1" %> &nbsp;
          <%= f.radio_button :taxcertainty, 2, checked: (@user.taxcertainty==2) %> &nbsp;<%= f.label :taxcertainty_2, "2" %> &nbsp;
          <%= f.radio_button :taxcertainty, 3, checked: (@user.taxcertainty==3) %> &nbsp;<%= f.label :taxcertainty_3, "3" %> &nbsp;
          <%= f.radio_button :taxcertainty, 4, checked: (@user.taxcertainty==4) %> &nbsp;<%= f.label :taxcertainty_4, "4" %> &nbsp;
          <%= f.radio_button :taxcertainty, 5, checked: (@user.taxcertainty==5) %> &nbsp;<%= f.label :taxcertainty_5, "5" %> &nbsp;
          <%= f.radio_button :taxcertainty, 6, checked: (@user.taxcertainty==6) %> &nbsp;<%= f.label :taxcertainty_6, "6" %> &nbsp;
          <%= f.radio_button :taxcertainty, 7, checked: (@user.taxcertainty==7) %> &nbsp;<%= f.label :taxcertainty_7, "7" %> &nbsp;
        </div>
        <% if @user.errors[:taxcertainty].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:taxcertainty].first %></div>
        <% end %>
          
      </div>
    </li>
  
  
  
  <li>
    <div class="checkbox">
    <label>
      <%= f.check_box :statefin%> Работаю в бюджетной организации
    </label>
  </div>
  </li>
  <li>
    <label>Пользуюсь следующими средствами массовой информации (телеканалы, газеты, сайты):</label>
    
    <div class="checkbox">
      <label><%= f.check_box :media1, checked: (@user.media1==1), class: "user-media" %> <b>Федеральные телеканалы и их сайты</b>  Первый канал, НТВ, ТВ-Центр, Россия 1, Вести.ру и т.д.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media2, checked: (@user.media2==1) %> <b>Сайты информагентств</b> РИА Новости, ИТАР-ТАСС, REGNUM, Интерфакс </label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media3, checked: (@user.media3==1) %> <b>Интернет-издания</b> Газета.ру, Эхо Москвы, Дождь, Meduza, Slon, Snob и т.д.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media4, checked: (@user.media4==1) %> <b>Городские и развлекательные издания</b> The Village, Афиша, TJournal, Adme.ru, TimeOut и др.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media5, checked: (@user.media5==1) %> <b>Деловые издания и их сайты</b> Ведомости, Коммерсантъ, РБК и др.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media6, checked: (@user.media6==1) %> <b>Женские издания и их сайты</b> Lady.mail.ru, Дни.ру, Wday.ru, Woman.ru, Elle.ru и др.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media7, checked: (@user.media7==1) %> <b>Популярные ежедневные газеты и их сайты</b> Комсомольская правда, МК, АиФ, Утро.ру и т.д.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media8, checked: (@user.media8==1) %> <b>Спортивные издания</b> Sports.ru, Чемпионат, Спорт-Экспресс, Р-Спорт, Советский спорт и т.д.</label>
    </div>
    <div class="checkbox">
      <label><%= f.check_box :media9, checked: (@user.media9==1) %> Ничего из вышеперечисленного</label>
    </div>
    <div class="form-group" style="display:none; visibility:hidden;">
      MediaChecked <%= f.number_field :media %>
    </div>
    <% if @user.errors[:media].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:media].first %></div>
    <% end %>
    
  </li>
  <li>
    <div class="form-group">
      <label>Образование</label>
      
      <%= f.select :educ, options_for_select([
      ['Выбрать из списка', ""],
      ['Неполное среднее', 1], 
      ['Среднее', 2], 
      ['Среднее специальное', 3],
      ['Незаконченное высшее', 4],
      ['Высшее', 5],
      ['Ученая степень', 6],
      ['Затрудняюсь ответить', 0]], @user.educ)%>

    </div>
      <% if @user.errors[:educ].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:educ].first %></div>
      <% end %>
    <div class="form-group" id="uni_field">
      <label>ВУЗ</label>
      <%= f.select :uni, options_for_select([
      ['Выбрать из списка', ""],
      ['МГУ им. Ломоносова (Москва)', 1], 
      ['МФТИ (Москва)', 2], 
      ['МГТУ им. Баумана (Москва)', 3],
      ['НИУ ВШЭ (Москва)', 6],
      ['МИФИ (Москва)' , 4],
      ['МГИМО (Москва)' , 9],
      ['РАНХиГС (Москва)', 12],
      ['МЭИ', 14],
      ['ФУ при Правительстве РФ', 17],
      ['МИСиС (Москва)' , 19],
      ['РГУНГ им. Губкина (Москва)', 20],
      ['РУДН (Москва)', 21],
      ['СПбГУ (Санкт-Петербург)', 5],
      ['СПбГПУ (Санкт-Петербург)', 11],
      ['ИТМО (Санкт-Петербург)', 22],
      ['НГУ (Новосибирск)', 8],
      ['НГТУ (Новосибирск)', 16],
      ['ТПУ (Томск)', 7],
      ['УрФУ им. Ельцина (Екатеринбург)', 10],
      ['ТГУ (Томск)', 13],
      ['КФУ (Казань)', 18],
      ['СФУ (Красноярск)', 15],
      ['Другой', -1]], @user.uni), class: "form-control" %>
      <div class="form-group" id="uniother_field" <% if @user.uni != '-1' then %> style="display:none;" <% end%>>
        <%= f.text_field :uniother, placeholder: "Укажите ВУЗ", class: "form-control" %>
      </div>
      </div>
        <% if @user.errors[:uni].any? %>
          <div class="alert alert-danger" role="alert"><%= @user.errors[:uni].first %></div>
        <% end %>
   
  </li>
  <li>
    <div class="form-group">
      <label>Работаю в регионе</label>
      <%= f.select :residence, options_for_select([
      ['Выбрать из списка', ""],
      ['Москва', 77],
      ['Санкт-Петербург', 78],
      ['Республика Адыгея', 1],
      ['Республика Алтай', 4],
      ['Республика Башкортостан', 2],
      ['Республика Бурятия', 3],
      ['Республика Дагестан', 5],
      ['Республика Ингушетия', 6],
      ['Кабардино-Балкарская республика', 7],
      ['Республика Калмыкия', 8],
      ['Карачаево-Черкесская республика', 9],
      ['Республика Карелия', 10],
      ['Республика Коми', 11],
      ['Республика Крым', 91],
      ['Республика Марий Эл', 12],
      ['Республика Мордовия', 13],
      ['Республика Саха (Якутия)', 14],
      ['Республика Северная Осетия — Алания', 15],
      ['Республика Татарстан', 16],
      ['Республика Тыва', 17],
      ['Удмуртская республика', 18],
      ['Республика Хакасия', 19],
      ['Чеченская республика', 20],
      ['Чувашская республика', 21],
      ['Алтайский край', 22],
      ['Забайкальский край', 75],
      ['Камчатский край', 41],
      ['Краснодарский край', 23],
      ['Красноярский край', 24],
      ['Пермский край', 59],
      ['Приморский край', 25],
      ['Ставропольский край', 26],
      ['Хабаровский край', 27],
      ['Амурская область', 28],
      ['Архангельская область', 29],
      ['Астраханская область', 30],
      ['Белгородская область', 31],
      ['Брянская область', 32],
      ['Владимирская область', 33],
      ['Волгоградская область', 34],
      ['Вологодская область', 35],
      ['Воронежская область', 36],
      ['Ивановская область', 37],
      ['Иркутская область', 38],
      ['Калининградская область', 39],
      ['Калужская область', 40],
      ['Кемеровская область', 42],
      ['Кировская область', 43],
      ['Костромская область', 44],
      ['Курганская область', 45],
      ['Курская область', 46],
      ['Ленинградская область', 47],
      ['Липецкая область', 48],
      ['Магаданская область', 49],
      ['Московская область', 50],
      ['Мурманская область', 51],
      ['Нижегородская область', 52],
      ['Новгородская область', 53],
      ['Новосибирская область', 54],
      ['Омская область', 55],
      ['Оренбургская область', 56],
      ['Орловская область', 57],
      ['Пензенская область', 58],
      ['Псковская область', 60],
      ['Ростовская область', 61],
      ['Рязанская область', 62],
      ['Самарская область', 63],
      ['Саратовская область', 64],
      ['Сахалинская область', 65],
      ['Свердловская область', 66],
      ['Смоленская область', 67],
      ['Тамбовская область', 68],
      ['Тверская область', 69],
      ['Томская область', 70],
      ['Тульская область', 71],
      ['Тюменская область', 72],
      ['Ульяновская область', 73],
      ['Челябинская область', 74],
      ['Ярославская область', 76],
      ['Севастополь', 92],
      ['Еврейская автономная область', 79],
      ['Ненецкий автономный округ', 83],
      ['Ханты-Мансийский автономный округ - Югра', 86],
      ['Чукотский автономный округ', 87],
      ['Ямало-Ненецкий автономный округ', 89]], @user.residence), class: "form-control" %>
      
      
    </div>
    <% if @user.errors[:residence].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:residence].first %></div>
    <% end %>
  </li>
  <li>
    <div class="form-group">
      <label>Мой род деятельности</label>
      <%= f.select :occup, options_for_select([
      ['Выбрать из списка', ""],
      ['Руководитель, директор, зам. руководителя', 1],
      ['Руководитель подразделения (отдела, смены, департамента и т.д.)', 2],
      ['Специалист с высшим образованием (врач, учитель, менеджер по продажам, инженер и т.д.)', 3],
      ['Служащий(ая) (секретарь, продавец, охранник, водитель и т.д.)', 4],
      ['Творческая профессия (фотограф, художник, артист и т.д.)', 5],
      ['Малый бизнес (свой бизнес, предпринимательская деятельность)', 6],
      ['Технический или обслуживающий персонал', 7],
      ['Рабочий(ая)', 8],
      ['Военнослужащий(ая)', 9],
      ['Студент(ка)', 10]], @user.occup), class: "form-control" %>
    </div>
      <% if @user.errors[:occup].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:occup].first %></div>
      <% end %>
  </li>
  
  <li>
    <div class="form-group">
      <label>На выборах Президента РФ 4 марта 2012 г. голосовал(а) за:</label>
      <%= f.select :elec_presid, options_for_select([
      ['Выбрать из списка', ""],
      ['Не ходил на выборы', 1],
      ['Испортил/унес бюллетень', 2],
      ['Прохоров', 3],
      ['Миронов', 4],
      ['Зюганов', 5],
      ['Жириновский', 6],
      ['Путин', 7],
      ['Затрудняюсь ответить', -1]], @user.elec_presid), class: "form-control" %>
      
    </div>
    <% if @user.errors[:elec_presid].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:elec_presid].first %></div>
    <% end %>
    </li>
    <li>
      <div class="form-group">
        <label>Возраст</label>
        <%= f.number_field :age, {class: "form-control", placeholder: "Полных лет", min: 14} %>
      </div>
      <% if @user.errors[:age].any? %>
        <div class="alert alert-danger" role="alert"><%= @user.errors[:age].first %></div>
      <% end %>
  </li>
  <li>
    <div class="form-group">
        <%= f.radio_button :sex, 1, checked: (@user.sex==1) %> &nbsp;<%= f.label :sex_1, "Женщина" %> &nbsp;
        <%= f.radio_button :sex, 2, checked: (@user.sex==2) %> &nbsp;<%= f.label :sex_2, "Мужчина" %> &nbsp;
    </div>
      <% if @user.errors[:sex].any? %>
      <div class="alert alert-danger" role="alert"><%= @user.errors[:sex].first %></div>
      <% end %>
  </li>

  <div class="actions">
    <%= f.submit "Рассчитать уплаченные налоги", class: "btn btn-lg btn-primary" %>
  </div>
  </ol> 


 
<% end %>
    </div>
  </div>
</div>


