<div class="container"> 
  <div class="jumbotron">
    <h1>Спасибо за использование нашего сервиса</h1>
  </div>
  
  <div class="panel panel-success">
    <div class="panel-heading">Ваша сводка</div>
    <div class="panel-body">
      <%= link_to 'Уплаченные налоги', showtaxes_user_path(@user) %><br>
      <%= link_to 'Использование налогов', showspending_user_path(@user) %>
      
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading">Поделитесь ссылкой на ресурс</div>
    <div class="panel-body">
      <div class="fb-share-button" data-lang="ru" data-href="<%=root_url(:subdomain => true)+ "?source="+@user.id.to_s %>" data-layout="button"></div>
      <a class="twitter-share-button" data-lang="ru" href="https://twitter.com/share" data-url="<%=root_url(:subdomain => true)+ "?source="+@user.id.to_s %>">Tweet</a>
      <br>
      <p>Скопируйте ссылку:</p>
      <input type="text" size = "100" value = "<%=root_url(:subdomain => true)+ "?source="+@user.id.to_s %>">
    </div>
  </div>
  <!--
  <div class="panel panel-default">
    <div class="panel-heading">Ваши данные</div>
    <div class="panel-body">

      <label>Средняя зарплата в месяц после налогов в 2014 году: <%= number_with_precision(@user.aftertaxwage, precision: 0, delimiter: ',') %> р.</label>
      <br>
      <label>Работаю в регионе: <%=
      case @user.residence
          when '77' 
            'Москва'
          when '78' 
            'Санкт-Петербург'
          when '1' 
            'Республика Адыгея'
          when '4' 
            'Республика Алтай'
          when '2' 
            'Республика Башкортостан'
          when '3' 
            'Республика Бурятия'
          when '5' 
            'Республика Дагестан'
          when '6' 
            'Республика Ингушетия'
          when '7' 
            'Кабардино-Балкарская республика'
          when '8' 
            'Республика Калмыкия'
          when '9 
           ' 
            'Карачаево-Черкесская республика'
          when '10 
           ' 
            'Республика Карелия'
          when '11 
           ' 
            'Республика Коми'
          when '91' 
            'Республика Крым'
          when '12' 
            'Республика Марий Эл'
          when '13' 
            'Республика Мордовия'
          when '14' 
            'Республика Саха (Якутия)'
          when '15' 
            'Республика Северная Осетия — Алания'
          when '16' 
            'Республика Татарстан'
          when '17' 
            'Республика Тыва'
          when '18' 
            'Удмуртская республика'
          when '19' 
            'Республика Хакасия'
          when '20' 
            'Чеченская республика'
          when '21' 
            'Чувашская республика'
          when '22' 
            'Алтайский край'
          when '75' 
            'Забайкальский край'
          when '41' 
            'Камчатский край'
          when '23' 
            'Краснодарский край'
          when '24' 
            'Красноярский край'
          when '59' 
            'Пермский край'
          when '25' 
            'Приморский край'
          when '26' 
            'Ставропольский край'
          when '27' 
            'Хабаровский край'
          when '28' 
            'Амурская область'
          when '29' 
            'Архангельская область'
          when '30' 
            'Астраханская область'
          when '31' 
            'Белгородская область'
          when '32' 
            'Брянская область'
          when '33' 
            'Владимирская область'
          when '34' 
            'Волгоградская область'
          when '35' 
            'Вологодская область'
          when '36' 
            'Воронежская область'
          when '37' 
            'Ивановская область'
          when '38' 
            'Иркутская область'
          when '39' 
            'Калининградская область'
          when '40' 
            'Калужская область'
          when '42' 
            'Кемеровская область'
          when '43' 
            'Кировская область'
          when '44' 
            'Костромская область'
          when '45' 
            'Курганская область'
          when '46' 
            'Курская область'
          when '47' 
            'Ленинградская область'
          when '48' 
            'Липецкая область'
          when '49' 
            'Магаданская область'
          when '50' 
            'Московская область'
          when '51' 
            'Мурманская область'
          when '52' 
            'Нижегородская область'
          when '53' 
            'Новгородская область'
          when '54' 
            'Новосибирская область'
          when '55' 
            'Омская область'
          when '56' 
            'Оренбургская область'
          when '57' 
            'Орловская область'
          when '58' 
            'Пензенская область'
          when '60' 
            'Псковская область'
          when '61' 
            'Ростовская область'
          when '62' 
            'Рязанская область'
          when '63' 
            'Самарская область'
          when '64' 
            'Саратовская область'
          when '65' 
            'Сахалинская область'
          when '66' 
            'Свердловская область'
          when '67' 
            'Смоленская область'
          when '68' 
            'Тамбовская область'
          when '69' 
            'Тверская область'
          when '70' 
            'Томская область'
          when '71' 
            'Тульская область'
          when '72' 
            'Тюменская область'
          when '73' 
            'Ульяновская область'
          when '74' 
            'Челябинская область'
          when '76' 
            'Ярославская область'
          when '92' 
            'Севастополь'
          when '79' 
            'Еврейская автономная область'
          when '83' 
            'Ненецкий автономный округ'
          when '86' 
            'Ханты-Мансийский автономный округ - Югра'
          when '87' 
            'Чукотский автономный округ'
          when '89' 
            'Ямало-Ненецкий автономный округ'
        else 'Не указан'
        end %>
      </label>
    <br>
    <label>Возраст: <%= @user.age %> лет</label>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Ваши налоги</div>
    <div class="panel-body">
    </div>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading">Использование ваших налогов</div>
    <div class="panel-body">
    </div>
  </div>
  -->
  <%= link_to "Посчитать налоги для другого человека", anotheruser_user_path(@user), class: "btn btn-lg btn-success" %>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=369278826474307&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
  
