<% 
totaltaxes = @user.paid_ndfl+@user.paid_pfr+@user.paid_foms+@user.paid_fss+@user.paid_other
totalincome = @user.aftertaxwage * 12 + totaltaxes - @user.paid_other

limit14 = 624000 
max_pretax = (@user.aftertaxwage + @user.wagerange)/0.87
min_pretax = (@user.aftertaxwage - @user.wagerange)/0.87

max_ndfl = max_pretax * 0.13
max_pfr = ([max_pretax*12, limit14].min * 0.22 + [max_pretax*12 - limit14, 0].max *  0.1)/12
max_foms = ([max_pretax*12, limit14].min*0.051)/12
max_fss = ([max_pretax*12, limit14].min*0.029)/12
max_other = max_pretax*0.241220

min_ndfl = min_pretax * 0.13
min_pfr = ([min_pretax*12, limit14].min * 0.22 + [min_pretax*12 - limit14, 0].max *  0.1)/12
min_foms = ([min_pretax*12, limit14].min*0.051)/12
min_fss = ([min_pretax*12, limit14].min*0.029)/12
min_other = min_pretax*0.241220
max_taxes = max_ndfl + max_pfr + max_foms + max_fss + max_other
min_taxes = min_ndfl + min_pfr + min_foms + min_fss + min_other
max_income = max_taxes + @user.aftertaxwage + @user.wagerange - max_other
min_income = min_taxes + @user.aftertaxwage - @user.wagerange - min_other

#Считаем долю налогов в гроссест доходе
min_tax_share = min_taxes/(min_pretax*0.87+min_taxes)
max_tax_share = max_taxes/(max_pretax*0.87+max_taxes)

avg_tax_share = (min_tax_share+max_tax_share)/2

%>


<div class="container"> 

  <div class="jumbotron">
    <h1>Налоги в 2014</h1>
    <p>Сумма уплаченный вами в среднем за месяц налогов
    <br>
    <small>Источник данных: Федеральное казначейство <a href="http://roskazna.ru/" target="_blank">roskazna.ru</a></small>
    </p>
  </div>
  
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><h3>Теперь учтем все налоги и взносы в бюджет</h3></h3>
    </div>
    <div class="panel-body">
      <div class="well">Всего ежемесячно вы выплачивали
            <span class="bg-info" style="padding:5px 10px; font-weight:bold;">
            <%= if @user.wagerange > 0 then "приблизительно " else "" end + number_with_precision(avg_tax_share*100, precision: 1, delimiter: ',') + "%" %></span> вашего совокупного дохода в виде налогов. Налог на доходы физических лиц не является единственным и самым крупным уплачиваемым вами налогом. Во-первых, вы выплачивали страховые взносы в пенсионный, социальный и медицинский фонды. С точки зрения бухгалтерского учета они перечисляются вашим работодателем, но фактически являются прямым налогом на вашу заработую плату и составляют часть вашей налоговой нагрузки. Во-вторых, вы оплачиваете налог на добавленную стоимость, акцизы и импортные пошлины в составе чека за товары и услуги. Именно эти косвенные налоги составляют самую большую доходную статью бюджета РФ. Мы учитываем эти налоги по данным бюджета 2014 года (в среднем 24.1% от доходов физ. лиц перед уплатой НДФЛ). 
        </div>

      
      <br><br>
      Ваша средняя ежемесячная структура дохода и уплаты налогов и взносов в 2014 году:
      <br><br>
      <% library_options = {
        tooltip: {
          isHtml: 'false',
          showColorCode: 'true'
        },
        legend: {
          position: 'top',
          maxLines: 8
        },
        chartArea: {
          bottom: '0'
        },
        series: [
          {},
          {},
          {visibleInLegend: 'false'},
          {},
          {visibleInLegend: 'false'}
        ]
      }
      data = [
      {
        name: "Доход после уплаты налогов", 
        data: [["Только НДФЛ", @user.aftertaxwage]]
      },
      {
        name: "Налог на доходы физ. лиц", 
        data: [["Только НДФЛ", number_with_precision(@user.aftertaxwage/0.87*0.13, precision: 0, delimiter: '')]]
      },
      {
        name: "Доход после уплаты прямых и косвенных налогов", 
        data: [["Все налоги", number_with_precision(@user.aftertaxwage - @user.paid_other/12, precision: 0, delimiter: '')]]
      },
      {
        name: "НДС и акцизы", 
        data: [["Все налоги", number_with_precision(@user.paid_other/12, precision: 0, delimiter: '')]]
      },
      {
        name: "Налог на доходы физ. лиц", 
        data: [["Все налоги", number_with_precision(@user.paid_ndfl/12, precision: 0, delimiter: '')]]
      },
      {
        name: "Взнос в Пенсионный фонд", 
        data: [["Все налоги", number_with_precision(@user.paid_pfr/12, precision: 0, delimiter: '')]]
      },
      {
        name: "Взнос в Фонд обязательного медицинского страхования", 
        data: [["Все налоги", number_with_precision(@user.paid_foms/12, precision: 0, delimiter: '')]]
      },
      {
        name: "Взнос в фонд социального страхования", 
        data: [["Все налоги", number_with_precision(@user.paid_fss/12, precision: 0, delimiter: '')]]
      }
      ]
      %>
      
      <%= bar_chart data, {stacked: true, library: library_options, colors: ["00cc8d","d61294", "00cc8d", "f073d9","d61294", "d9292f", "ff8000","ff969c"]} %> 
      
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Всего налогов за месяц</th>
        <th class="text-right"><%= 
          if @user.wagerange > 0
          then number_with_precision(min_taxes, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_taxes, precision: 0, delimiter: ',')
          else number_with_precision(max_taxes, precision: 0, delimiter: ',')
          end 
          %> р.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Налог на доходы (13%)</td>
        <td class="text-right">
          <%= 
          if @user.wagerange > 0
          then number_with_precision(min_ndfl, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_ndfl, precision: 0, delimiter: ',')
          else number_with_precision(max_ndfl, precision: 0, delimiter: ',')
          end %> р.
          </td>
      </tr>
      <tr>
        <td>Взнос в Пенсионный фонд</td>
        <td class="text-right"><%= 
          if @user.wagerange > 0
          then number_with_precision(min_pfr, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_pfr, precision: 0, delimiter: ',')
          else number_with_precision(max_pfr, precision: 0, delimiter: ',')
          end %> р.</td>
      </tr>
      <tr>
        <td>Взнос в Фонд обязательного медицинского страхования</td>
        <td class="text-right"><%= 
          if @user.wagerange > 0
          then number_with_precision(min_foms, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_foms, precision: 0, delimiter: ',')
          else number_with_precision(max_foms, precision: 0, delimiter: ',')
          end %> р.</td>
      </tr>
      <tr>
        <td>Взнос в Фонд социального страхования</td>
        <td class="text-right"><%= 
          if @user.wagerange > 0
          then number_with_precision(min_fss, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_fss, precision: 0, delimiter: ',')
          else number_with_precision(max_fss, precision: 0, delimiter: ',')
          end %> р.</td>
      </tr>
      <tr>
        <td>Косвенные налоги (НДС, акцизы, импортные пошлины)
        </td>
        <td class="text-right"><%= 
          if @user.wagerange > 0
          then number_with_precision(min_other, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_other, precision: 0, delimiter: ',')
          else number_with_precision(max_other, precision: 0, delimiter: ',')
          end %> р.</td>
      </tr>
      <tr>
        <td><i>Доход за вычетом налогов</i>
        </td>
        <td class="text-right"><i><%= 
          if @user.wagerange > 0
          then number_with_precision(min_income - min_taxes, precision: 0, delimiter: ',') + " - " +  number_with_precision(max_income - max_taxes, precision: 0, delimiter: ',')
          else number_with_precision(max_income - max_taxes, precision: 0, delimiter: ',')
          end %> р.</i></td>
      </tr>
    </tbody>
  </table>
    
      
      <% if @user.treatment == 1 %>
        <%= link_to "На что пошли налоги", showspending_user_path(@user), class: "btn btn-lg btn-success" %>
      <% else %>
        <%= link_to "На что пошли налоги", askquestions_user_path(@user), class: "btn btn-lg btn-success" %>
      <% end %>
    </div>
  </div>

</div>