<% puts "region id = " + @region.code.to_s%>
<% paid_reg= @user.paid_ndfl.to_f %>
<% paid_pfr = @user.paid_pfr.to_f %>
<% paid_fss = @user.paid_fss.to_f %>
<% paid_foms = @user.paid_foms.to_f %>
<% paid_fed = @user.paid_other.to_f %>
<% paid_total =  paid_reg + paid_pfr + paid_fss + paid_foms + paid_fed %>
<% reg_percap = @region.percap %>
<% fed_percap = @federal.percap %>
<% pfr_percap = @pfr.percap %>
<% fss_percap = @fss.percap  %>
<% foms_percap =  @foms.percap %>
<% percap_total =  reg_percap + pfr_percap + fss_percap + foms_percap + fed_percap %>


<% pension_av = 11600 %>
<% socpension_av = 7500 %>

<% student_av = 4405500 * (paid_fed  / @federal.total) %>
<% police_av = 782001 * (paid_fed  / @federal.total) %>
<% army_av = 766005 * (paid_fed  / @federal.total) %>

<div class="container"> 
  <div class="jumbotron">
    <h1>Расходование ваших средств</h1>
    <p>Структура использования уплаченных вами за 2014 год налогов
    <br>
    <small>Источник данных: Федеральное казначейство <a href="http://roskazna.ru/" target="_blank">roskazna.ru</a></small>
    <% if @user.wagerange >0 then %>
    <p style="font-size:12px;">На этой странице расчеты для среднего значения указанного диапозона зарплаты.</p>
    <% end %>
    </p>
  </div>
  

<div class="panel panel-default">
  <div class="panel-heading"><h3>Факты о ваших налогах</h3></div>
  <div class="panel-body">
    <h4>С помощью налогов в 2014 году вы оплатили:</h4>
    
    <ul class="list-group">
      <li class="list-group-item"><h3><span class="bg-info" style="padding:5px 10px"><%= number_with_precision(@pfr.s_soc[1].to_f * paid_pfr / (pension_av*12), precision: 1, delimiter: '') %></span> трудовых пенсий</h3>
      <h6>Исходя из общих затрат на трудовые пенсии в пересчете на одного пенсионера.</h6></li>
      <li class="list-group-item"><h3><span class="bg-info" style="padding:5px 10px"><%= number_with_precision(student_av, precision: 1, delimiter: '') %></span> мест в вузах</h3>
      <h6>Исходя из общих затрат на высшее образовании в пересчете на одного студента.</h6></li>
      <li class="list-group-item"><h3><span class="bg-info" style="padding:5px 10px"><%= number_with_precision(police_av * 12, precision: 1, delimiter: '') %></span> месяца работы одного сотрудника полиции</h3>
      <h6>Исходя из общих затрат на МВД в пересчете на одного полицейского.</h6></li>
      <li class="list-group-item"><h3><span class="bg-info" style="padding:5px 10px"><%= number_with_precision(army_av * 12, precision: 1, delimiter: '') %></span> месяца содержания одного военного</h3>
      <h6>Исходя из общих затрат на армию в пересчете на одного военного.</h6></li>
    </ul>
  </div>
</div>
            
  
  
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Структура расходования ваших налогов и взносов</h3></div>
    <div class="panel-body">
      <div class="well">
        <p>За 2014 год бюджеты и страховые фонды РФ получили ваших средств: <b><%= number_with_precision(paid_total, precision: 0, delimiter: ',') %> рублей.</b></p>
        <p>Расходы федерального и регионального бюджетов и фондов на одного жителя вашего региона (<%= Budget.find_by( code:@user.residence).name %>) за 2014 год составили: <b><%= number_with_precision(percap_total, precision: 0, delimiter: ',') %> рублей.</b></p>
      </div>
      <% library_options = {
        title: "Структура расходования ваших налогов за 2014 год",
        legend: {
          position: 'labeled'
        },
        height: "300"
      }
      data = []
      
      cats =  Hash.new()%>
      <% @titles.attributes.each_pair do |t_attr_name, name| %>
        <%if t_attr_name.start_with?("s_") %>
          <% cat_sum = @region[t_attr_name][0].to_f * paid_reg + @federal[t_attr_name][0].to_f * paid_fed+@pfr[t_attr_name][0].to_f * paid_pfr + @fss[t_attr_name][0].to_f * paid_fss + @foms[t_attr_name][0].to_f * paid_foms 
          cats[t_attr_name] = cat_sum %>
        <% end %>
      <% end %>
      <% cats = cats.sort_by {|t_attr_name, cat_sum| -cat_sum}.to_h %>  
        
      <% cats.each_pair do |t_attr_name, cat_sum| %>
        <% cat_sum = @region[t_attr_name][0].to_f * paid_reg + @federal[t_attr_name][0].to_f * paid_fed+@pfr[t_attr_name][0].to_f * paid_pfr + @fss[t_attr_name][0].to_f * paid_fss + @foms[t_attr_name][0].to_f * paid_foms %>
        <% row = [@titles[t_attr_name][0].to_s, number_with_precision(cat_sum, precision: 0, delimiter: '')]
        data << row
        %>
      <% end %>

      <%= pie_chart data, library: library_options %> 
      
     <% Chartkick.options[:html] = '<div id="%{id}" style="height: auto; line-height:1; padding-top:5px"></div>' %>
      <% cats.each_pair do |t_attr_name, cat_sum| %>
        <%if t_attr_name.start_with?("s_") %>
          <% 
            library_options = {
              title: @titles[t_attr_name][0].to_s,
              legend: {
                position: 'top',
                maxLines: 8
              },
              hAxis: {
                maxValue: paid_total*0.4
              },
              chartArea: {
                left: '0', bottom:'0', width: '100%', height:"20%"
              },
              bar: {groupWidth: "50"},
              height: "200"
            }
          %>
          <% data = [] %>
          <% (1..(@titles[t_attr_name].length-1)).each do |j| %>
            <%
            row = {
              name: @titles[t_attr_name][j].to_s,
              data: [[ "р.", number_with_precision(@region[t_attr_name][j].to_f * paid_reg + @federal[t_attr_name][j].to_f * paid_fed + @pfr[t_attr_name][j].to_f * paid_pfr + @fss[t_attr_name][j].to_f * paid_fss + @foms[t_attr_name][j].to_f * paid_foms, precision: 0, delimiter: '')]]
            }
            data << row %>
            
          <% end %>
          <%= bar_chart data, {stacked: true, library: library_options} %> 
        <% end %>
      <% end %>
        
    </div>
  </div>
          
    <div class="panel-body">
    <% if @user.treatment == 3%>
      <%= link_to "Поделиться результатами", askquestions_user_path(@user), class: "btn btn-lg btn-success" %>
    <% else %>
      <%= link_to "Поделиться результатами", share_user_path(@user), class: "btn btn-lg btn-success" %>
    <% end %>
  
  </div>
</div>


<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=GkBoZ7eVhziMGdZMJSAeu8V*tq9vPD33/lAV4kdQoAwPL2AJVDN27vWsRB7BSQkFN9x3JSgOsEaFCmlQifocwsXeDoxuikSjAIQ2ajkXO0BNv9P7AFU8Wc3SVsnIIeMv31HZLzawOnjoqbd*PRSoBa9DlD0kdeIW8XLqeJmlFHE-';</script>

