// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.starrating{
  font-family:'Glyphicons';
  unicode-bidi: bidi-override;
  direction: rtl;
}

.starrating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:#b2b2b2;
}
.starrating > span:hover:before,
.starrating > span:hover ~ span:before {
   color:#f8cd03;
}

.starrating > .stargold span {
  color:#f8cd03;
}



#wagesliderrange .slider-selection{
  background:#337ab7;
}

.container{
  margin-bottom:40px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption h1{
  font-size: 100px;
  line-height:0.8;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
	width: auto;
	height: auto;
	vertical-align: middle;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
